.custom-header {
    display: flex;
    align-items: center;
    height: 55px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color:  #1f222c;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* đường kẻ giống bút xanh */
}

.header-box:last-child {
    border-right: none;
    /* không cần viền cuối */
}

.logo-box {
    padding: 0 10px;
}

.header-logo {
    height: 40px;
    object-fit: contain;
}

.empty-box {
    width: 40px;
}