.opacity-slider {
  writing-mode: bt-lr; /* Firefox */
  -webkit-appearance: slider-vertical; /* Chrome, Safari */
  width: 5px;
  height: 130px;
  background: linear-gradient(to bottom, #ffffff, #1e90ff); /* gradient trắng-xanh */
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-top: 6px;
}

.opacity-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #007bff;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.opacity-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #007bff;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.highlight-marker {
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.3);
}

/* Animation: icon mờ và bay lên */
.university-marker-appear {
    animation: fadeUp 0.8s ease forwards;
    opacity: 0; /* ban đầu ẩn */
    transform: translateY(10px); /* ban đầu hơi thấp xuống */
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
